{{ ansible_managed | comment }}

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.
# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin
# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

Port {{ ssh_sshd_config_port | default(22) }}
#AddressFamily any
{% for addr in ssh_sshd_config_listen_addresses | default([]) %}
ListenAddress {{ addr }}
{% endfor %}
Protocol {{ ssh_sshd_config_protocol_version | default(2) }}

{% for ssh_sshd_config_host_key in ssh_sshd_config_host_keys | default([]) %}
HostKey {{ ssh_sshd_config_host_key }}
{% endfor %}

# Ciphers and keying
#RekeyLimit default none

# Logging
SyslogFacility {{ ssh_sshd_config_syslog_facility | default('AUTH') }}
LogLevel {{ ssh_sshd_config_log_level | default('INFO') }}

# Authentication:
LoginGraceTime {{ ssh_sshd_config_login_grace_time | default(120) }}
PermitRootLogin {{ ssh_sshd_config_permit_root_login | default('without-password') }}
StrictModes {{ ssh_sshd_config_strict_mode | default('yes') }}

#MaxAuthTries 6
#MaxSessions 10

PubkeyAuthentication yes

# Expect .ssh/authorized_keys2 to be disregarded by default in future.
AuthorizedKeysFile	.ssh/authorized_keys

#AuthorizedPrincipalsFile none

{% if ssh_sshd_config_authorized_keys_command is defined %}
AuthorizedKeysCommand {{ ssh_sshd_config_authorized_keys_command }}
AuthorizedKeysCommandUser {{ ssh_sshd_config_authorized_keys_command_user | default('nobody') }}
{% endif %}

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
HostbasedAuthentication {{ ssh_sshd_config_host_based_authentication | default('no') }}
# Change to yes if you don't trust ~/.ssh/known_hosts for
# HostbasedAuthentication
#IgnoreUserKnownHosts no
# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts {{ ssh_sshd_config_ignore_rhosts | default('yes') }}

# To disable tunneled clear text passwords, change to no here!
PasswordAuthentication no
PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication {{ ssh_sshd_config_challenge_response_authentication | default('no') }}

# Kerberos options
#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no

# GSSAPI options
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM {{ ssh_sshd_config_use_pam | default('yes') }}

#AllowAgentForwarding yes
AllowTcpForwarding {{ ssh_sshd_config_allow_agent_forwarding | default('yes') }}
GatewayPorts {{ ssh_sshd_gateway_ports | default('no') }}
X11Forwarding {{ ssh_sshd_x11_forwarding | default('no') }}
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
PrintMotd no
#PrintLastLog yes
#TCPKeepAlive yes
#UseLogin no
UsePrivilegeSeparation {{ ssh_sshd_config_use_privilege_separation | default('yes') }}
#PermitUserEnvironment no
#Compression delayed
#ClientAliveInterval 0
#ClientAliveCountMax 3
UseDNS {{ ssh_sshd_config_use_dns | default('no') }}
#PidFile /var/run/sshd.pid
#MaxStartups 10:30:100
PermitTunnel {{ ssh_sshd_config_permit_tunnel | default('yes') }}
#ChrootDirectory none
#VersionAddendum none

# no default banner path
#Banner none

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem	sftp	/usr/lib/openssh/sftp-server -f AUTHPRIV -l INFO

# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
#	ForceCommand cvs server
UseDNS no
GSSAPIAuthentication no

# https://wiki.mozilla.org/Security/Guidelines/OpenSSH#Modern_.28OpenSSH_6.7.2B.29 & bettercrypto.org
KexAlgorithms {{ ssh_sshd_config_kex_algorithms }}
Ciphers {{ ssh_sshd_config_ciphers }}
MACs {{ ssh_sshd_config_macs }}
