{{ ansible_managed | comment }}

# Package generated configuration file
# See the sshd_config(5) manpage for details

# What ports, IPs and protocols we listen for
Port 22
# Use these options to restrict which interfaces/protocols sshd will bind to
{% for addr in ssh_sshd_config_listen_addresses | default([]) %}
ListenAddress {{ addr }}
{% endfor %}
Protocol {{ ssh_sshd_config_protocol_version | default(2) }}

# HostKeys for protocol version 2
{% for ssh_sshd_config_host_key in ssh_sshd_config_host_keys | default([]) %}
HostKey {{ ssh_sshd_config_host_key }}
{% endfor %}

#Privilege Separation is turned on for security
UsePrivilegeSeparation {{ ssh_sshd_use_privilege_separation | default("yes") }}

# Lifetime and size of ephemeral version 1 server key
KeyRegenerationInterval {{ ssh_sshd_key_regeneration_interval | default(3600) }}
ServerKeyBits {{ ssh_sshd_server_key_bits | default(1024) }}

# Logging
SyslogFacility {{ ssh_sshd_config_syslog_facility | default('AUTH') }}
LogLevel {{ ssh_sshd_config_log_level | default('INFO') }}

# Authentication:
LoginGraceTime {{ ssh_sshd_config_login_grace_time | default(120) }}
PermitRootLogin {{ ssh_sshd_config_permit_root_login | default('without-password') }}
StrictModes {{ ssh_sshd_config_strict_mode | default('yes') }}

RSAAuthentication yes
PubkeyAuthentication {{ ssh_sshd_pubkey_authentication | default('yes') }}
AuthorizedKeysFile	%h/.ssh/authorized_keys

{% if ssh_sshd_config_authorized_keys_command is defined %}
AuthorizedKeysCommand {{ ssh_sshd_config_authorized_keys_command }}
AuthorizedKeysCommandUser {{ ssh_sshd_config_authorized_keys_command_user | default('nobody') }}
{% endif %}

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts {{ ssh_sshd_config_ignore_rhosts | default('yes') }}
# For this to work you will also need host keys in /etc/ssh_known_hosts
RhostsRSAAuthentication no
# similar for protocol version 2
HostbasedAuthentication {{ ssh_sshd_hostbased_authentication | default('no') }}
# Uncomment if you don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
#IgnoreUserKnownHosts yes

# To enable empty passwords, change to yes (NOT RECOMMENDED)
PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication {{ ssh_sshd_config_challenge_response_authentication | default('no') }}

# Change to no to disable tunnelled clear text passwords
PasswordAuthentication no

# Kerberos options
#KerberosAuthentication no
#KerberosGetAFSToken no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes

# GSSAPI options
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes

X11Forwarding no
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
#UseLogin no

#MaxStartups 10:30:60
#Banner /etc/issue.net

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM {{ ssh_sshd_config_use_pam | default('yes') }}
UseDNS {{ ssh_sshd_config_use_dns | default('no') }}
GSSAPIAuthentication no
