{% for ssh_public_key in ssh_user['authorized_keys'] | default({}) %}
{% if ssh_public_key['state'] | default('present') != 'absent' %}
{% if ssh_public_key['options'] | default(False) %}
{{ ssh_public_key['options'] }} {{ ssh_public_key['key'] }}
{% else %}
{{ ssh_public_key['key'] }}
{% endif %}
{% endif %}
{% endfor %}
{% for remote_public_key in fetched_remote_public_keys | default([]) %}
{{ remote_public_key }}
{% endfor %}
