{{ ansible_managed | comment }}

{% for host in ssh_user['config'] | sort %}
Host {{ host }}
{% for key in ssh_user['config'][host] | sort %}
{# Ansible does not seem to provide a "is_list" filter (as saltstack does) #}
{% if ssh_user['config'][host][key] is sequence and ssh_user['config'][host][key] is not string and ssh_user['config'][host][key] is not mapping %}
{% for item in ssh_user['config'][host][key] | sort %}
  {{ key }} {{ item }}
{% endfor %}
{% else %}
  {{ key }} {{ ssh_user['config'][host][key] }}
{% endif %}
{% endfor %}
{% endfor %}
